ASPNETCORE_ENVIRONMENT=Development
OUTPUT_ROOT=/data/builds
WorkflowApi__BaseUrl=http://photoshopautomation-api:8080
FolderCreatorApi__BaseUrl=http://foldercreator-api:8080
PngApi__BaseUrl=http://pngcontainer-api:8080