ASPNETCORE_ENVIRONMENT=Development
OUTPUT_ROOT=/data/builds
MongoSettings__ConnectionString=mongodb://mongouxp:27017
MongoSettings__DatabaseName=Demos
MongoSettings__PodItemsCollection=uxp-plugin-demo